ul{
	list-style: none;
}
header{
	background-color:black;
	padding: 10px;
}
ul{
	list-style: none;
}
li{
	display: inline;
	margin: 70px;

}
li a:hover{
	color: red;
	text-decoration: none;
	font-style: monserate;
}